
.TextInformative{
    width: 45%;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TextInformative h1{
    font-size: 2.5rem;
}

.TextInformative p{
    color: #7D7987;
}

.TextInformative button{
    width: 120px;
    padding: 8px 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}