
.Medical{
    width: 100%;
    height: auto;
    padding: 1.25rem 10%;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    align-items: center;
    font-size: 1rem;
}
.Medical p{
    text-align: center;
}

/*Adaptabilidad movil*/
@media screen and (max-width: 1279px) and (min-width: 769px){
    .Medical{
        font-size: .8rem;
    }
}
@media screen and (max-width: 768px) and (min-width: 481px){
    .Medical{
        font-size: 1.3rem;
    }
}