* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: black;
  background: #FFFFFF;
  padding-top: 10px;
  font-family: "Poppins";
}
.highlightText{
  font-weight: 700;
}
.subtitle{
  font-size: 1.5625em;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.subtitle::before{
  content: "";
  width: 5em;
  height: .1875em;
  background-color: black;
  border-radius: .625em;
  position: absolute;
  bottom: -0.9375em;
  z-index: 1;
}
.normalText{
  color: #7D7987;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

