
.Carrousel{
    width: 100%;
    padding: 3.125em 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .625em;
    font-size: 1rem;
    box-sizing: border-box;
}

.Content{
    width: 58.75em;
    height: 18.75em;
    background: linear-gradient(223deg, #67C3F3 0%, #5A98F2 100%);
    border-radius: .9375em;
    text-align: center;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    
}
.titleCarrousel{
    font-size: 1.875em;
    color: white;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
}
.titleCarrousel::before{
    content: '';
    width: 3.125em;
    height: .1875em;
    border-radius: .625em;
    background-color: white;
    position: absolute;
    bottom: -0.625em;
}

.clientInfo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clientInfo p{
    color: white;
    font-weight: 200;
    width: 68.75em;
}
.clientInfoPersonal{
    width: 62.5em;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25em;
}
.clientInfoPersonal img{
    width: 8.125em;
    height: 8.125em;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
}
.clientInfoPersonal span{
    color: white;
    font-weight: 700;
    font-size: 1.125em;
}
.Buttons button{
    width: 5em;
    height: 1.875em;
    border-radius: 1.25em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .1s ease-in-out;
}
.btnRight:active{
    transform: translateX(.625em);
}
.btnLeft:active{
    transform: translateX(-0.625em);
}

/*Adaptabilidad movil*/
@media screen and (max-width: 1279px) and (min-width: 769px){
    .Carrousel{
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px){
    .Carrousel{
        font-size: 1.2rem;
    }
    .Content{
        width: 100%;
        height: 500px;
    }
    .clientInfo{
        margin-top: 80px;
        flex-direction: column;
    }
    .clientInfo p{
        width: 100%;
        font-size: 1em;
    }
}


@media screen and (max-width: 480px){
    .Carrousel{
        display: none;
    }
}